---
layout: home
adsense: false
regenerate: true
---

<div class="blog-face">
    <div>
        🧠기억 보조용 위키
        <div>
            <a href="https://johngrib.github.io/wiki/my-wiki/" target="_blank">이곳</a>의 도움을 받았습니다. 🙇‍♀️
        </div>
        <div>
            <a href="/blog/">블로그</a>
            /
            <a href="/tag/">태그</a>
        </div>
    </div>
    <div class="contact">
        {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}"><i class="fab fa-github"></i></a>
        {% endif %}
        {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
        {% endif %}
        {% if site.email %}
        <a href="mailto:{{ site.email }}"><i class="far fa-envelope"></i></a>
        {% endif %}
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fas fa-rss"></i></a>
    </div>
</div>
<div>
    <H3 class="indent">최근 변경된 문서</H3>
    <div class="list-group indent">
        {% assign documents = site.wiki | sort: 'updated' | reverse %}
        {% for doc in documents limit: 30 %}
        {% if doc.public == true and doc.title != 'wiki'%}
        <a class="list-group-item list-group-item-action" href="{{ doc.url | prepend: site.baseurl }}">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ doc.title }}</h5>
                <small>{{ doc.updated | date: "%Y.%m.%d" }}</small>
            </div>
            <p class="mb-1">{{ doc.summary }}</p>
            <small>{{ doc.tags }}</small>
        </a>
        {% endif %}
        {% endfor %}
        <a class="list-group-item list-group-item-action active" href="/recent/">최근 변경된 문서 전체 리스트 보기</a>
    </div>

</div>
{% include createLink.html %}