<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta name="description" content="{{ page.summary }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
        href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="shortcut icon" type="image/png" href="/favicon.ico" />
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.summary }}">
    <meta property="og:image" content="">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ site.twitter_username }}" />
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.summary }}" />
    {% if site.google_analytics.ua %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics.ua }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '{{ site.google_analytics.ua }}');
    </script>
    {% endif %}
    {% if site.google_adsense.client and page.adsense == true %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "{{ site.google_adsense.client }}",
            enable_page_level_ads: true
        });
    </script>
    {% endif %}

</head>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
        aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarHeader">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/about/">me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wiki/index/#random"
                    onClick="if(typeof random === 'function')random()">random</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wiki/index/">wiki</a>
            </li>
        </ul>
    </div>
    <form class="form-inline" role="search" method="get" action="/search/">
        <input name="searchString" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>