body {
    margin: 0;
    height: 100%;
}
body, th, td, div, p, li {
    font-family: "Spoqa Han Sans", arial, "Apple SD Gothic Neo", "Noto Sans CJK KR", 본고딕, "KoPubDotum Medium", 나눔바른고딕, 나눔고딕, NanumGothic, 맑은고딕, "Malgun Gothic", sans-serif;
    line-height: 1.5;
    word-break: keep-all;
}

.post-content {
    line-height: 2;
}

blockquote {
    position: relative;
    padding-left: 1em;
    border-left: 0.2em solid lighten($black, 40%);
    font-family: 'Roboto', serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 100;
    &:before, &:after {
        content: '\201C';
        font-family: 'Sanchez';
        color: lighten($black, 40%);
     }
     &:after {
        content: '\201D';
     }
}
code,pre {
    font-family:  $coding-font;
}
code {
    color: inherit;
    background-color: #ebedf0;
    padding: 1px 3px;
    border-radius: 3px;
}
pre {
    overflow-x: auto;
    padding: 10px 10px;
}
pre, pre code {
    color: #fafafa;
    background-color: #223;
    // font-weight: 600;
}
pre code {
    padding: 0;
}
.hide {
    display: none;
}
.center {
    text-align: center;
}
.language-html table {
    background: transparent;
    margin: 0;
}
.language-html td {
    padding: 0;
    border: 0;
}

.post-content h1,h2,h3,h4,h5,h6 {
    &:before { color:$theme-color; }
}

.post-content h1 {
    border-bottom: 1px solid $theme-color;
}