@tailwind base;

body {
    background-color: var(--main-bg);
    color: var(--text);
    margin: 0;
    padding: 0;
    height: 100vh;
    transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
    @apply text-3xl font-bold;
}

h2 {
    @apply text-2xl font-bold;
}

h3 {
    @apply text-xl font-bold;
}

h4 {
    @apply font-bold;
}

a {
    /*color: var(--link);
    text-decoration: underline;
    transition: color 0.3s ease; */
    @apply underline;
}

a:hover {
    @apply no-underline;
}

ul {
    @apply list-disc pl-6 my-2;
}

ul li {
    word-break: keep-all;
} 

ol {
    @apply list-decimal pl-6 my-2;
}
  
hr {
    @apply my-4;
}

hr {
    border: 0 solid var(--separator);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top-width: 1px;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1 {
    font-size: 1.875rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

blockquote {
    border-left: 0.25em solid #dfe2e5;
    color: var(--blockquote-text);
    padding: 0 1em;
}

blockquote p {
    margin: 1em 0em;
}

code {
    color: var(--code-text);
    background-color: var(--code-bg);
    /* border-radius: 0.25rem; */
    padding-left: 0.125rem;
    padding-right: 0.125rem;
    margin-left: 0.125rem;
    margin-right: 0.125rem;
    border: 1px solid; 
}

pre {
  @apply p-2;
  overflow-x: auto;
}

.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.note-columns-scrolling-container {
    display: flex;
    /* overflow-x: auto; */
    overflow-y: hidden;
    flex-grow: 1;
}

.note-columns-container {
    display: flex;
    flex-grow: 1;
    transition: width 100ms cubic-bezier(0.19, 1, 0.22, 1);
}

/* @tailwind components; */
@tailwind utilities;

@media screen and (max-width: 800px) {
    .note-columns-container {
        width: 100% !important;
    }
}
