---
layout: document
---

{% assign thisName = page.id | remove: '/wiki/' %}
<input type="hidden" id="thisName" value="{{ thisName }}" />
<div class="container post">
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {{ page.title }}
                </h1>
                {% if page.summary %}
                <h2 class="subtitle">
                    {{ page.summary }}
                </h2>
                {% endif %}
            </div>
        </div>
    </section>
    <nav class="level">
        <div class="level-left">
            {% raw %}
            <div id="parent-list"></div>
            {% endraw %}
            {% if page.tags %}
            <p class="level-item">
                    {% include post-tags.html %}
            </p>
            {% endif %}
        </div>
        <div class="level-right">
            <p class="level-item">
                <div class="control">
                    <div class="tags has-addons">
                        <span class="tag is-primary">created</span>
                        <span class="tag is-light">
                            <a href="{{ site.blame }}/{{ thisName }}.md" target="_blank">
                                {{ page.date | date: '%Y.%m.%d' }}</a>
                        </span>
                    </div>
                </div>
            </p>
            <p class="level-item">
                <div class="control">
                    <div class="tags has-addons">
                        <span class="tag is-primary">updated</span>
                        <span class="tag is-light">
                            <a href="{{ site.blame }}/{{ thisName }}.md" target="_blank">
                                {{ page.updated | date: '%Y.%m.%d' }}</a>
                        </span>
                    </div>
                </div>
            </p>
            <p class="level-item">
                <div class="control">
                    <a class="button is-primary is-small" href="{{ site.edit }}/{{ thisName }}.md">
                        편집하기
                    </a>
                    <a class="button is-light is-small"
                        href="{{ site.issue }}?title={{ page.title | url_encode }}&body=의견을%20남겨주세요">
                        의견 남기기
                    </a>
                </div>
            </p>
        </div>
    </nav>
    <header class="post-header">

    </header>
    <article class="post-content">
        {{ content }}
    </article>

    {% if page.comment != false %}
    {% include comment.html %}
    {% endif%}

</div>
{% include createLink.html %}

<script src="/js/axios.min.js"></script>
<script async src="/js/parent.js"></script>